
  .footer__logo__text span {
    color: #2196f3;
  }

  .footer {
    background-color: #2f303a;
    &__logo__text {
      margin-top: 60px;
      padding-top: 60px;

      color: #fff;
      text-align: center;
      font-family: Raleway;
      font-size: 24px;

      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.72px;
    }
    &__address {
      text-align: center;
      margin-top: 20px;
    }
    &__address__link {
      color: #fff;
      text-align: center;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 172%; /* 171.429% */
      letter-spacing: 0.42px;
    }
    &__list {
      text-align: center;
      margin-top: 8px;
      margin-bottom: 60px;
    }
    &__list__link {
      color: rgba(255, 255, 255, 0.6);

      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.42px;
    }
  }
  .join {
    background-color: #2f303a;
  }
  .join-title {
    color: #fff;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item {
    display: flex;

    text-align: center;
    padding-top: 32px;
    padding-right: 34px;
    padding-bottom: 60px;
  }
  .link {
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    padding: 10px;
    fill: #ffffff;
    border-radius: 50%;
  }

.subscribe-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}
.subscribe-form__label {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subscribe-form__button {
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 12px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-form__icon {
  margin-left: 10px;
  fill: #fff;
}
.subscribe-form__input {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    width: 430px;
  }
 
}
.subscribe-form__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #fff;
}
