.container {
  @media screen and (max-width: 480px) {
    width: 480px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url(../images/Header\ img.jpg);
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    max-width: 360px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }
  &__button {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px 32px;
    background-color: #2196f3;
    color: #fff;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.5%; /* 187.5% */
    letter-spacing: 0.96px;
  }
}

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  width: 440px;
  height: 610px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.form {
  width: 450px;
}
.form__label {
  color: #757575;

  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form__input {
  width: 370px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form__comment {
  width: 370px;
  height: 120px;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.icon__close {
  border: 1px solid rgba(33, 33, 33, 0.2);
  fill: #2196f3;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #fff;
}

.form__text {
  margin: 40px 40px 12px 40px;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: 0.6px;
}
.form__fiel {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.form__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px 55px;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form__field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
.form__fiel a {
  color: #2196f3;

  font-size: 12px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  color: #188ce8;
  top: -50%;
  left: 0;

  transform: translateY(50%);

  transition: transform 250ms linear;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.form__input:focus ~ .form__icon {
  fill: #188ce8;
}
.form__input:focus {
  border-color: #188ce8;
}
.form__field {
  position: relative;
  margin-bottom: 20px;
  margin-left: 40px;
}
.form__label {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
}
.form__input {
  padding-left: 42px;
}
.form__input:hover {
  border-color: #188ce8;
}
.form__fie {
  position: relative;
  margin-left: 40px;
}
.form__fiel {
  margin-top: 20px;
  margin-left: 40px;
}

.form__labe {
  position: absolute;
  top: 10%;
  left: 2px;
  transform: translateY(-10%);
}

.form__comment:focus + .form__labe,
.form__comment:not(:placeholder-shown) + .form__labe {
  color: #188ce8;
  top: -15%;

  transform: translateY(15%);

  transition: transform 250ms linear;
}
