.footer__logo__text span {
  color: #2196f3;
}
.conteiner {
}
.footer {
  background-color: #2f303a;
  &__logo__text {
    margin-top: 60px;
    padding-top: 60px;

    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;

    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
  }
  &__address {
    text-align: center;
    margin-top: 20px;
  }
  &__address__link {
    color: #fff;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 172%; /* 171.429% */
    letter-spacing: 0.42px;
  }
  &__list {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 60px;
  }
  &__list__link {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }
}

.join-title {
  color: #fff;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;

  text-align: center;
  padding-top: 32px;
  padding-right: 34px;
  padding-bottom: 60px;
}
.link {
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  padding: 10px;

  border-radius: 50%;
}
