<div class="conteiner">
  <div class="clients">
    <h2 class="clients__title">Постоянные клиенты</h2>

    <ul class="clients__list">
      <li class="clients__list__item">
        <a href="" class="clients__list__link">
          <svg class="clients__list__icon" width="106px" height="60px">
            <use href="./images/sprite.svg#group1"></use>
          </svg>
        </a>
      </li>
       <li class="clients__list__item">
        <a href="" class="clients__list__link">
          <svg class="clients__list__icon" width="106px" height="60px">
            <use href="./images/sprite.svg#Logo2"></use>
          </svg>
        </a>
      </li>
       <li class="clients__list__item">
        <a href="" class="clients__list__link">
          <svg class="clients__list__icon" width="106px" height="60px">
            <use href="./images/sprite.svg#Logo3"></use>
          </svg>
        </a>
      </li>
       <li class="clients__list__item">
        <a href="" class="clients__list__link">
          <svg class="clients__list__icon" width="106px" height="60px">
            <use href="./images/sprite.svg#group4"></use>
          </svg>
        </a>
      </li>
       <li class="clients__list__item">
        <a href="" class="clients__list__link">
          <svg class="clients__list__icon" width="106px" height="60px">
            <use href="./images/sprite.svg#Logo5"></use>
          </svg>
        </a>
      </li>
       <li class="clients__list__item">
        <a href="" class="clients__list__link">
          <svg class="clients__list__icon" width="106px" height="60px">
            <use href="./images/sprite.svg#Logo6"></use>
          </svg>
        </a>
      </li>

    </ul>
  </div>
</div>
