<header>
  <div class="conteiner">
    <div class="header">
      <div class="header__logo">
        <div class="header__menu">
          <p class="header__text">Web<span>Studio</span></p>

          <button
            type="button"
            class="menu-buttom is-open"
            arial-expanded="false"
            data-menu-button
          >
            <svg
              width="40px"
              height="40px"
              aria-label="Перемикач мобільного меню"
            >
              <use
                class="icon__menu"
                href="./images/symbol-defs.svg#icon-menu_40px"
              ></use>
              <use
                class="icon__close"
                href="./images/symbol-defs.svg#icon-close_40px"
              ></use>
            </svg>
          </button>

          <nav class="header__ination" data-menu>
            <ul class="header__nav">
              <li class="header__nav__item">
                <a href="" class="header__nav__link">Студия</a>
              </li>
              <li class="header__nav__item">
                <a href="" class="header__nav__link">Портфолио</a>
              </li>
              <li class="header__nav__item">
                <a href="" class="header__nav__link">Контакты</a>
              </li>
            </ul>

            <ul class="header__contact">
              <li class="header__contact__item">
                <a href="" class="header__contact__link">+38 096 111 11 11</a>
                <svg class="header__contact__icon" width="16px" height="12px">
                  <use href="./images/symbol-defs.svg#icon-smartphonenav"></use>
                </svg>
              </li>
              <li class="header__contact__item">
                <a href="" class="header__contact__adres">info@devstudio.com</a>
                <svg class="header__contact__icon" width="16" height="12">
                  <use href="./images/symbol-defs.svg#icon-envelopenav"></use>
                </svg>
              </li>
            </ul>
            <ul class="header__socials">
              <li class="header__socials__item">
                <a class="header__socials__link" href="">Instagram</a>
              </li>
              <li class="header__socials__item">
                <a class="header__socials__link" href="">Twitter</a>
              </li>
              <li class="header__socials__item">
                <a class="header__socials__link" href="">Facebook</a>
              </li>
              <li class="header__socials__item">
                <a class="header__socials__link" href="">LinkedIn</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
