<!--Hero-->
      <section class="hero">
      
      
      
          <h1 class="hero__title">Эффективные решения для вашего бизнеса</h1>
          <div class="container">
        <button type="button" data-modal-open class="hero__button">Заказать услугу</button>
      </div>
         
           <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" data-modal-close> <svg
              width="40px"
              height="40px"
              aria-label="Перемикач мобільного меню"
            >
              
              <use
                class="icon__close"
                href="./images/sprite.svg#close_40px"
              ></use>
            </svg></button>
        
      </div>
    </div>

      </section>
