

 
    
    <div class="team">
      <h2 class="team__title">Наша команда</h2>
  
      <ul class="team__list">
        <li class="team__item">
          <img src="./images/img.jpg" alt="" class="team__images" />
          <h3 class="team__subtitle">Игорь Демьяненко</h3>
          <p class="team__text">Product Designer</p>
          <ul class="team__social">
            <li class="team__social__item">
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <img src="./images/img2.jpg" alt="" class="team__images" />
          <h3 class="team__subtitle">Ольга Репина</h3>
          <p class="team__text">Frontend Developer</p>
          <ul class="team__social">
            <li class="team__social__item">
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <img src="./images/img3.jpg" alt="" class="team__images" />
          <h3 class="team__subtitle">Николай Тарасов</h3>
          <p class="team__text">Marketing</p>
          <ul class="team__social">
            <li class="team__social__item">
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="team__item">
          <img src="./images/img4.jpg" alt="" class="team__images" />
          <h3 class="team__subtitle">Михаил Ермаков</h3>
          <p class="team__text">UI Designer</p>
          <ul class="team__social">
            <li class="team__social__item">
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-instagram-2"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-twitter-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-facebook-1"></use>
                </svg>
              </a>
              <a href="" class="team__social__link">
                <svg class="team__icon" width="44px" height="44px">
                  <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  
